.button{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Roboto;
    margin: 0 10px;

    cursor: pointer;

    transition: all 0.1s ease-in-out;

    &:hover{
        opacity: 0.9;
    }

    @include md{
        width: 180px;
        height: 40px;
        font-size: 16px;
    }
    
    @include lg{
        width: 150px;
        font-size: 16px;
    }
}

.button-filled{
@extend .button;
    background: $yellow;
    box-shadow: $shadowBox;
    
    a{
        color: $dark;
        font-weight: 900;
    }
}
.button-border{
@extend .button;
    background: none;
    border: 1px solid $yellow;
    
    a{
        font-weight: bold;
        color: $yellow;
        
    }
}