.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  h3 {
    color: $white;
    text-shadow: $shadowText;
    margin: 40px 0 10px 0;
    text-transform: uppercase;
  }

  &__text-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    padding: 20px 0;
    box-shadow: $shadowBox;
    border-radius: 8px;
  }

  p {
    margin: 0 25px;
    text-align: center;
    color: $white;
    font-size: 12px;
  }
}
