.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &__text-wrapper {
    width: 100vw;
    height: 100%;
    background: $yellow;
    box-shadow: $shadowBox;
    padding: 10px 0;
    margin-bottom: 15px;
  }

  h2 {
    color: $dark;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

  }
  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }

  &__box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 260px;
    border: 1px solid $yellow;
    padding: 5px 0 20px 0;
    margin-top: 25px;
    border-radius: 10px;

    &__icon {
      margin: 5px 0;
      width: 45px;
      height: 45px;
    }
    h3 {
      font-weight: bold;
      margin: 5px 0;
      font-size: 16px;
    }
    p {
      text-align: center;
      margin: 5px 0;
      font-size: 16px;
    }
  }
}
