@import "./colors.scss";
@import './breakpoints.scss';
@import './mixins.scss';

$shadowBox: 0 3px 8px rgba(0,0,0,0.5);
$shadowBoxLight: 0 3px 6px rgba(0,0,0,0.2);
$shadowText: 0 3px 6px rgba(0,0,0,0.6);

@import "./header.scss";
@import "./welcome.scss";
@import "./content.scss";
@import "./about.scss";
@import "./upload.scss";
@import "./contact.scss";
@import "./components/button.scss";

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Roboto";
  background: $dark;
  color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  @include lg{
    // background-image: url('../assets/background.svg');
    // background-size: cover;
    // background-repeat: no-repeat;
    
  }
}

h1 {
  font-size: 32px;
  @include md{
    font-size: 48px;
  }
}

h2 {
  font-size: 24px;
  @include md{
    font-size: 32px;
  }
}

h3 {
  font-size: 16px;
  @include md{
    font-size: 24px;
  }
}

p{
  font-size: 12px;
  @include md{
    font-size: 18px;
  }
}

.app-wrapper-flex{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height:auto;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom:0;
  // margin: auto;
}.app-wrapper-size{
    display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height:auto;
}

a{
  text-decoration: none;
  color: $white;

  &:hover{
    opacity: 0.75;
  }
}