.upload {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  button{
      @extend .button-filled;
      margin-top: 20px;
  }

  &__text-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0;
    h2 {
      font-size: 16px;
      padding-bottom: 5px;
      margin-bottom: 0;
    }

    div {
      border-top: 2px solid $yellow;
      width: 40%;
    }
  }

  &__element {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    width: 260px;
    text-align: center;

    span {
      font-size: 12px;
      padding-left: 20px;
    }
  }
}
